<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
		<script src="/javascripts/script.js"></script>
	</head>

	<body>
		<div class="tail-top">
			<div class="tail-bottom">
				<div id="main">
		<!-- HEADER -->
					<div id="header">
						<div class="row-1">
							<div class="fleft"><a href="/">Кино<span>база</span></a></div>
						</div>
						<div class="row-2">

							<h1>Ошибочка <span>404</span></h3>

						</div>
					</div>
					
		<!-- CONTENT -->
					<div id="content">
						<div class="box">
							<div class="border-right">
								<div class="border-left">
									<div class="inner">
										<h3>Сайт не працюе - <span>ВОНА ПРАЦЮЭ</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
		<!-- FOOTER -->
					<div id="footer">
						<div class="left">
							<div class="right">
								<div class="inside">
									&copy; Верните ex.ua ироды!
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>